.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3rem;
  font-family: FontAwesome;
  display: inline-block;
}

.starrating > label
{
  color: theme-color("dark"); /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: theme-color("primary") ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: theme-color("primary") ;  } /* Set yellow color when star hover */
