section {
    @include media-breakpoint-up(xs) {
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
}
