
main {
  padding-top: .10rem;
  padding-bottom: .10rem;
}

//All the content ellements that apperar as children in <main>
h1,h2,h3,h4,h5,h6,p,section,form{
  margin-top:    1rem;
  margin-left:   1rem;
  margin-right:  1rem;
  margin-bottom: 1rem;
  @include media-breakpoint-up(xs) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
  }
}


section.image-grid{
  margin-top:    0;
  margin-left:   0;
  margin-right:  0;
  margin-bottom: 0;
  //No margin on mobile. So it extends to bleed
}
