@mixin gradient($color1, $color2){
  background: $color1; /* Old browsers */
  background: -moz-linear-gradient(left, $color1 0%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $color1 0%,$color2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $color1 0%,$color2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); /* IE6-9 */
}

@mixin drop-shadow($color){
  $offset-x: 0;
  $offset-y: 0;
  $blur-radius: 1rem;
  filter: drop-shadow($offset-x $offset-y $blur-radius $color);
}

@mixin drop-shadow-bottom($color){
  $offset-x: 0;
  $offset-y: 0.25rem;
  $blur-radius: 1rem;
  filter: drop-shadow($offset-x $offset-y $blur-radius $color);
}

@mixin inner-shadow($color){
  -moz-box-shadow:    inset 0 0 10px $color;
  -webkit-box-shadow: inset 0 0 10px $color;
  box-shadow:         inset 0 0 10px $color;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-align($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
// box-sizing: content-box;
@mixin input(){
  width: 100%;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;

  padding: size('padding');
  border-radius: size('corners');
  border: size('border') solid color('input-border-color');

  color: color('input-color');
  background-color: color('input-bg');
  //Fixes overlapping parent boundary/margins
  box-sizing:border-box
}

@mixin grid($columns: 12, $rows: 0, $gap: 0){
  $width: 100%/$columns;
  $height: 100%/$rows;
  display: grid;
  grid-gap: $gap;
  grid-template-columns: unquote(repeat($columns, $width));
  @if $rows > 0 {
    grid-template-rows: unquote(repeat($rows, $height));
  }
  justify-items: stretch;
  grid-template-rows: unquote(repeat(12, $height));
}

@mixin grid-item($colStart: 1, $colSpan: 1, $rowStart: 0, $rowSpan: 0){
  grid-column: $colStart / span $colSpan;
  grid-row: $rowStart / span $rowSpan;
}
